# Core API
fastapi
uvicorn[standard]
httpx

# Core RAG stack (modular LlamaIndex)
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-embeddings-openai
chromadb
transformers
sentence-transformers

# LLM server
vllm[openai]

# Utility / compatibility
anyio
click
pydantic
starlette
soundfile
pgvector
sqlalchemy
psycopg2-binary